body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  background-color: #fafafa;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.active {
  color: black;
}
